<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Basic AngularJS application</title>
    <link rel="stylesheet" href="../main.css" />
</head>
<body data-ng-controller="mainController as app">

{{title}}


<form>
    <select data-ng-model="template" title="Display type">
        <option value="./personTemplate.html">List</option>
        <option value="./personBlockTemplate.html">Block</option>
    </select>
</form>

<ul>
    <li data-ng-repeat="person in people"
        data-ng-include="template"></li>
</ul>

<script src="../../../../bower_components/angular/angular.js"></script>
<script>

    var app = angular.module('app', []);

    app.controller('mainController', function($scope) {
        $scope.title = 'Hello World!';
        $scope.people = [
            {name: 'Carlos Kelkboom', active: true},
            {name: 'Peter Taal'},
            {name: 'Richard Dijkhoff'},
            {name: 'VIncent Dercksen'}
        ];
        $scope.template = './personTemplate.html';
    });

</script>
</body>
</html>