body {
    padding: 20px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    
    background: black;
    color: white;
}

.top-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 31px;
}

.top-bar ul li {
    display: inline-block;
    margin: 4px;
    width: 100px;
    overflow: hidden;    
    vertical-align: middle;
    
    text-align: center;
    cursor: pointer;
}

.top-bar ul li:hover {
    background: #2abbfc;
    color: black;
}